$primary-color: #0064FA
$primary-color-light: lighten($primary-color, 25%)
$primary-color-lighter: lighten($primary-color, 45%)
$accent-color1: #721EDE
$accent-color2: #D25B00
$success-color: #1FC776
$warning-color: #F3BB1C
$error-color: #F03738
$gray: #828990
$gray-light: lighten($gray, 25%)
$gray-lighter: lighten($gray, 45%)
$gray-dark: darken($gray, 25%)
$gray-darken: darken($gray, 45%)
$black: #000
$white: #fff
