.ruoshin
  background: url("../images/ruoshin.svg")no-repeat center center/cover
  &:hover
    background: url("../images/real-ruoshin.svg")no-repeat center center/cover

.avatar
  width: 90px
  height: 90px
  display: block
